# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea

# Misc
.post-template

# 临时
_posts/2025-03-17-spann3r.md
_posts/2025-04-21-kaggle.md