# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea

# Misc
.post-template

# 临时
_posts/2025-03-17-spann3r.md
_posts/2025-05-30-HOLD.md
_posts/2025-06-17-dance.md
_posts/2025-06-23-var-notebook.md
_posts/2025-06-19-name-story.md
_posts/2025-06-05-user-study.md
_posts/2025-06-17-HO3R_code.md